@import 'variables';
@import 'mixins';      
@import 'reset';
@import 'base';        

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
}

/*exclusive font from project*/
@font-face {
    font-family: 'Inter';
    src: url('~assets/fonts/Inter/Inter_24pt-Light.ttf') format('truetype');
    font-weight: 300; /*font Light */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('~assets/fonts/Inter/Inter_24pt-Medium.ttf') format('truetype');
    font-weight: 500; /*font Medium */
    font-style: normal;
  }


/*general styles*/

header{
    @include flexRow;
    background-color: $primaryColor;
    padding: 5px 20px 5px 20px;
    height: 50px;

.logo{

}
.more{

}
}
.header-left{
  
}

/*general styles*/

